.settings
.buildpath
.project
/.metadata/
*.log
*.lock
*.pyc
*.autosave
*.dia
*.log
*~
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/target/
*.jar
*.db
*.ini
/config/
/interface/api/Slim/
/interface/api/vendor/
db.php
db_externo.php
/mail/
composer.lock